:root {
    --background: #111827;
    --surface: #1e293b;
    --accent: #7dd3fc;
    --secondary-accent: #c4b5fd;
    --text: #f8fafc;
}


body {
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    line-height: 1.6;
}
